<p id="notice"><%= notice %></p>

<p>
  <b>X:</b>
  <%= @point.x %>
</p>

<p>
  <b>Y:</b>
  <%= @point.y %>
</p>

<p>
  <b>Cnannel ID:</b>
  <%= @point.channel_id %>
</p>
<%if signed_in?%>
<%= link_to 'Edit', edit_point_path(@point) %>
 |<%end%>
<%= link_to 'Back', points_path %>
