<p id="notice"><%= notice %></p>

<p>
  <b>Datestart:</b></br>
<b>Year Month Day</b></br>
  <%= @triton_session.dateStart %>
</p>

<div id="placeholder" style="width:900px;height:450px;"></div>
<script type="text/javascript">

$(function () {



<%i=1%>
<% Channel.all.each do |chan|%>
var d<%=i%>=[];

<% @triton_session.points.each do |point| %>
<%if (point.channel==chan)%>
<% #add 14400 ~ +4hours local time%>
d<%=i%>.push([<%=(point.created_at.utc.to_f+14400)*1000%>,<%= point.y %>]);
<%end%>
<% end %>
<%i=i+1%>
<%end%>

<%i=1%>
 var placeholder = $("#placeholder");
var plot = $.plot($("#placeholder"), [ 
<% Channel.all.each do |chan|%>
<%if chan.enabled %>
{data: d<%=i%>,label: "<%=chan.channelName%>: <%=Point.where('triton_session_id=? AND channel_id=?',@triton_session.id,chan.id).last.y if Point.where('triton_session_id=? AND channel_id=?',@triton_session.id,chan.id).last %> К" },
<%end%>
<%i=i+1%>
<%end%> ],
{xaxis: { mode: 'time'},

yaxis: {  },
 legend: { noColumns: 3 },
zoom: {interactive: true},
pan: {interactive: true}
});





    // and add panning buttons
    
  


});
</script>
<%if signed_in?%>
<%= link_to 'Edit', edit_triton_session_path(@triton_session) %> |
<%end%>
<%= link_to 'Back', triton_sessions_path %>
